:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 500px;
  height: 400px;
  text-align: center;
  background-color: lightblue;
}

textarea {
  height: 175px;
  margin: 0 32px;
  padding: 8px;
  font-size: 1.3em;
}

.red {
  color: red;
}
