:root {
  --main-color: #006400;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px auto;
  width: 75vw;
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  height: 35px;
  width: 175px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}

.products-container {
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  height: 200px;
  width: 200px;
  color: white;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;

  position: relative;

  display: flex;
  align-items: end;
}

.card h2,
.card p {
  background-color: var(--main-color);
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer p {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 16px;
}

footer a {
  color: lightgreen;
}

.carrot {
  background-image: url('./carrot-purpleDragon.avif');
  background-size: cover;
}

.pepper {
  background-image: url('./pepper-sweetMaruga.avif');
  background-size: cover;
}

.lettuce {
  background-image: url('./lettuce-spottedAleppoSyrian.avif');
  background-size: cover;
}
.tomato {
  background-image: url('./tomatoSpoon.avif');
  background-size: cover;
}
.cosmos {
  background-image: url('./cosmos-apricotLemonade.avif');
  background-size: cover;
}
.marigold {
  background-image: url('./marigold-orangeFlame.avif');
  background-size: cover;
}
.sunflower {
  background-image: url('./sunflower-lemonQueen.avif');
  background-size: cover;
}
.catmint {
  background-image: url('./catmint-grandview.avif');
  background-size: cover;
}
.bee-balm {
  background-image: url('./beeBalm-lemon.avif');
  background-size: cover;
}
.basil {
  background-image: url('./persian-basil.avif');
  background-size: cover;
}
