:root {
  font-family: Arial, Helvetica, sans-serif;

  --lightmode-main: #add8e6;
  --lightmode-secondary: #808080;

  --darkmode-main: #3d4e53;
  --darkmode-secondary: #add8e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#theme-switcher-button {
  height: 40px;
  width: 175px;
  font-size: 1.3em;
  border: none;
  background-color: var(--lightmode-main);
}

#theme-switcher-button:hover {
  color: var(--lightmode-main);
  background-color: var(--lightmode-secondary);
}

#theme-dropdown {
  position: absolute;
  top: 40px;

  box-shadow: 1px 1px 3px var(--lightmode-secondary);
}

#theme-dropdown li {
  display: flex;
  justify-content: start;
  align-items: center;

  height: 50px;
  width: 200px;
  padding-left: 16px;
  font-size: 1.1em;
}

#theme-dropdown li:hover {
  color: var(--lightmode-main);
  background-color: var(--lightmode-secondary);
}

#theme-message {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
}

/* Dark Mode */

body.theme-dark {
  background-color: #292929;
  color: var(--darkmode-secondary);
}

body.theme-dark #theme-switcher-button {
  background-color: var(--darkmode-main);
  color: var(--darkmode-secondary);
}

body.theme-dark #theme-switcher-button:hover {
  color: black;
  background-color: var(--darkmode-secondary);
}

body.theme-dark #theme-dropdown {
  box-shadow: 1px 1px 3px var(--darkmode-secondary);
}

body.theme-dark #theme-dropdown li:hover {
  color: black;
  background-color: var(--darkmode-secondary);
}
