:root {
  font-family: Arial, Helvetica, sans-serif;
  --dark-one: #212529;
  --dark-two: #343a40;
  --neutral: #6c757d;
  --light: #e9ecef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 750px;
  width: 500px;
  color: var(--light);
}

#current-container {
  height: 35%;
  margin-bottom: 16px;
}

#current-container,
#upcoming-container {
  width: 100%;
  border: 5px solid var(--dark-two);
  background-color: var(--dark-one);
}

#header,
#upcoming-title {
  text-align: center;
  padding: 4px;
}

#playing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  background-color: var(--dark-two);
  margin: 16px;
}

#now-playing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 150px;
  width: 350px;
  padding-bottom: 8px;
  border: 5px solid var(--dark-one);
  background-color: var(--dark-one);
  margin: 8px;
}

#current-name {
  padding: 16px;
  font-size: 1.2em;
}

#current-buttons {
  display: flex;
  justify-content: space-around;
  align-items: end;

  border-top: 3px solid var(--dark-two);
  padding-top: 16px;
}

#upcoming-container {
  height: 65%;
}

#header,
#upcoming-title,
#upcoming-title,
#upcoming-list {
  background-color: var(--dark-two);
  margin: 16px;
}

#upcoming-list {
  height: 395px;
  padding: 8px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.upcoming-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  margin-bottom: 8px;
  height: 48px;
  border-bottom: 2px solid var(--dark-one);
}

button {
  background-color: transparent;
  border: none;
  height: 25px;
  width: 25px;
}
