@font-face {
  font-family: 'indieFlower';
  src: url('./IndieFlower-Regular.ttf');
}

:root {
  font-family: 'indieFlower', Arial, sans-serif;
  --main-dark: #2c383b;
  --main-light: #b9e4f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-light);
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-dark);
}

header {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 3px solid black;
  margin: 8px;
}

.sub-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 1px solid black;
}

.sub-grid div {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  background-color: var(--main-light);
  color: var(--main-dark);
  text-align: center;
  font-size: 3em;
}

.available-nums {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
}

.available-nums div {
  height: 60px;
  width: 60px;
}

.selected {
  border: 1px solid var(--main-light);
  border-radius: 30px;
}

.bold {
  font-weight: bold;
}
