:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightblue;
}

h1 {
  background-color: darkgray;
  margin-top: 48px;
  padding: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.gallery-item {
  width: 30%;
  min-width: 250px;
  max-width: 500px;
  margin-top: 32px;
  border: 2px solid black;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
}

#lightbox-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
}
