:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #47535c;
  --secondary-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 50vh;
  width: 60vw;
  background-color: var(--secondary-color);
}

#heading {
  text-align: center;
  padding-top: 32px;
  color: var(--primary-color);
}

#check-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 32px 0;
  padding: 16px;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#instructions {
  text-align: center;
  padding: 8px;
  font-size: 1.2em;
}

#text-input {
  margin: 16px;
  padding: 8px;
  height: 32px;
  width: 60%;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.2em;
}

#check-btn {
  margin-bottom: 16px;
  height: 32px;
  width: 64px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#result {
  padding: 8px;
}

#definition-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
}

#definition {
  text-align: center;
  font-size: 1.3em;
  padding: 32px;
}
